div#header
  h1 Restaurant Web App
  if user
    if user.loggedin
      if !isDriver
        h3 #[a(href="/") Home] #[a(href="/users") Users] #[a(href="/orderform") Order Food] welcome user, #[a(href=`/users/${user.user._id}`) #{user.username}]
          form(method='GET', action = 'http://localhost:3000/logout')
          input(type='submit', value= "Log Out")
      else
        h3 #[a(href="/") Home] welcome driver, #[a(href=`/users/${user.user._id}`) #{user.username}]        
        form(method='GET', action = 'http://localhost:3000/logout')
          input(type='submit', value= "Log Out")
    else
      h3 #[a(href="/") Home] #[a(href="/users") Users] #[a(href="/register") Register]
        h3 Login:
        form(method='POST', action='http://localhost:3000/login')

          label(for='name')
            p Username:
            input#name(type= 'text', name= 'name')
          label(for='password')
            p Password:
            input#password(type= 'text', name= 'password')

          input(type='submit', value='Log In')
