html
  head
    title COMP2406A4 - Home
  body
    include ../partials/header

    h2 welcome!
    |
    p click users restaurants to browse registered users
    |
    p click register to register a profile to the website
    |
    p click home to return to this page
